.position_center{
  text-align: center;
}
html {
  background: url(http://globalmedicalco.com/photos/globalmedicalco/20/99084.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header_bg{
  display: inline-block;
  background-color: #f4f5e8;
}
.spacing_1{
  margin-top: 0px;
  margin-bottom: 50px;
}
.spacing_2{
  margin-top: 50px;
  margin-bottom: 50px;
}
.spacing_3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.font{
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  color: #232320;
}
