.position_center{
  text-align: center;
}
html {
  background: url(http://globalmedicalco.com/photos/globalmedicalco/20/99084.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header_bg{
  display: inline-block;
  background-color: white;
}
.spacing_1{
  margin-top: 90px;
  margin-bottom: 50px;
}
.spacing_2{
  margin-top: 50px;
  margin-bottom: 50px;
}
.font{
  font-size: 2em;
  font-family: sans-serif;
}
